body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-externa-ordem-listagem {
  width: 900px;
  height: 1200;
  box-sizing: border-box;
  margin: 15px 0px 15px 0px;
}

.div-interna-detalhes-os {
  margin-top: 20px;
  height: auto;
  width: 100%;
}

.botao-detalhes-os {
  width: 30%;
  height: 50px;
  background-color: #0d48a1c9;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: regular;
  border-radius: 8px;
  margin: 5px;
  transition: background-color 0.3s ease;
}


.botao-detalhes-os.botao-clicado {
  background-color: #03132b;
}

.botao-detalhes-os:hover {
  background-color: #7497cc;
}


.alinhamento-buttons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-bottom: 25px;
  
}

.div-detalhes-os {
  border: 1px solid rgba(148, 148, 148, 0.308);
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.div-detalhes-os2 {
  border: 1px solid rgba(148, 148, 148, 0.308);
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.div-detalhes-os3 {
  border: 1px solid rgba(148, 148, 148, 0.308);
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.titulos-detalhes-os {
  font-weight: bold;
  font-weight: 300;
}

.campos-detalhes-os {
  border: 1px solid #ccc; /* Bordas com um cinza mais suave */
  height: 40px; /* Aumentei um pouco a altura para melhorar a visibilidade */
  padding: 14px; /* Aumentei o preenchimento para mais espaçamento interno */
  font-weight: 400; /* Reforço na espessura da fonte para maior destaque */
  background-color: #f7f7f7; /* Fundo com um tom mais claro */
  border-radius: 12px; /* Bordas mais arredondadas para um visual mais suave */
  margin: 12px 0; /* Margem um pouco maior para melhor espaçamento */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
  display: flex; /* Ajuste para alinhar o conteúdo verticalmente */
  align-items: center; /* Alinhamento vertical */
  justify-content: space-between;
}

.campos-detalhes-os3 {
  border: 1px solid rgba(148, 148, 148, 0.445);
  height: auto;
  padding: 5px;
  background-color: rgba(240, 240, 240, 0);
  border-radius: 6px;
  margin: 10px 0;
}

.campos-detalhes-os4 {
  border: 1px solid rgba(148, 148, 148, 0.445);
  height: auto;
  padding: 5px;
  background-color: rgba(240, 240, 240, 0);
  border-radius: 6px;
  margin: 10px 0;
}


h5 {
  margin: 0;
}
.css-eha6i0-MuiPaper-root-MuiDialog-paper {
  background-color:#202124;
  color:#fff;
  -webkit-transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius:4px;
  box-shadow:0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
  background-image:linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
  margin:32px;
  position:relative;
  overflow-y:auto;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  max-height:calc(100% - 64px);
  max-width:1100px !important;
}

.css-1ljcup0-MuiPaper-root-MuiDialog-paper {
  background-color:#ffffff;
  color:rgba(0, 0, 0, 0.87);
  -webkit-transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius:4px;
  box-shadow:0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
  margin:32px;
  position:relative;
  overflow-y:auto;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  max-height:calc(100% - 64px);
  max-width:1100px !important;
}

/* Consulta de mídia para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
  .div-externa-ordem-listagem {
    width: 100%; /* Faça a largura ocupar 100% da tela em dispositivos móveis */
    padding: 10px;
    margin: 0;
  }

  .div-detalhes-os {
    width: 100%; /* Faça a largura ocupar 100% da tela em dispositivos móveis */
    height: auto;
  }

  .div-detalhes-os2 {
    width: 100%; /* Faça a largura ocupar 100% da tela em dispositivos móveis */
    height: auto;
  }

  .div-detalhes-os3 {
    width: 100%; /* Faça a largura ocupar 100% da tela em dispositivos móveis */
    height: auto;
  }
}


.selectContainer {
  position: relative;
  width: 50%; /* Defina a largura desejada */
}

.selectsInfo {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: #333;
  appearance: none;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}


.selectsInfo::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
}

/* Estilização quando focado */
.selectsInfo:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Permite redimensionar verticalmente */
  min-height: 100px; /* Altura mínima */
  margin-bottom: 15px;
}

/* Estilo para o placeholder */
.comment-input::placeholder {
  color: #aaa;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro para destacar o modal */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input1[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.label1 {
  margin-bottom: 6px;
  display: block;
  font-weight: bold;
}
